header.header
  if user
    .chatHeader
      .dropDownMenuList
        button.dropBtn
          i.fa-solid.fa-bars


      .buttonSearchUsers
        form.searchFormUsers(action="")
          input.searchInputUsers(type="text"  placeholder="Search")
          button.searchUsersBtn(type="submit")
            i.fa-solid.fa-magnifying-glass

      .dropDownItems
        button.dropDownMenuBtns.toggleBackground Dark mode
        i.fa-regular.fa-sun
        i.fa-solid.fa-moon
        button.dropDownMenuBtns.logout Logout
        i.fa-solid.fa-arrow-right-from-bracket



      .userSelectedChat
        .userContainer
          .userInfo
            img.user-img(src=`/images/user/${user.photo}`, alt=`Photo of ${user.name}`)
            span.userNameSelected
        .buttonSearch
          form.searchForm(action="")
            input.searchInput.hidden(type="text"  placeholder="Search messages...")
            button.searchTextInChatBtn(type="submit")
              i.fa-solid.fa-magnifying-glass