header.header
  if user
    .chatHeader
      .leftHeader
        .dropDownMenuList
          button.dropBtn
            i.fa-solid.fa-bars

          .dropDownItems
            .menuItem.toggleBackground
              .menuItemName.toggleBackground Light Mode
              i.fa-regular.fa-sun
              i.fa-solid.fa-moon
            .menuItem.logout 
              .menuItemName Logout
              i.fa-solid.fa-arrow-right-from-bracket
            .menuItem 
              .menuItemName Settings
              i.fa-solid.fa-gear

        .searchForUsers
          input.searchInputUsers(type="text"  placeholder="Search")
          i.fa-solid.fa-magnifying-glass

      .rightHeader
        .userSelectedChat
          .userContainer
            .userInfo
              img.user-img(src=`/images/user/${user.photo}`, alt=`Photo of ${user.name}`)
              span.userNameSelected
          .buttonSearch
            form.searchForm(action="")
              input.searchInput.hidden(type="text"  placeholder="Search messages...")
              button.searchTextInChatBtn(type="submit")
                i.fa-solid.fa-magnifying-glass