extends base


block content

  main.main
    .messages
      ul.messageList
    .form
      form.form-input(action="")
        .inputbox
          input.inputMessage
          button 
        .inputbox
          input.inputRoom
          button.join 




