extends base

block append head
    link(rel="stylesheet" href='/styles/overview/styles.css')


block content

  main.main
    .messages
      ul.messageList
    .form
      form.form-input(action="")
        .inputbox
          input.inputMessage
          button 
        .inputbox
          input.inputRoom
          button.join 




