extends base

block append head
  link(rel="stylesheet" href='/styles/overview/styles.css')
  script(src="https://code.jquery.com/jquery-3.6.4.min.js")
  script.
    const socket = io();
  script(defer src='/js/chat.js')


block content

  main.main
    .messages
      ul.messageList
    .form
      form.form-input(action="")
        .inputbox
          input.inputMessage
          button 
        .inputbox
          input.inputRoom
          button.join