extends base

block append head
    link(rel="stylesheet" href='/styles/signUp/styles.css')


block content

    main.main
        .form
            form.form-input(action="")
                .inputContainer
                    .inputOptions
                        input.inputMessage 
                    .inputOptions
                        input.inputRoom
        span.span
        button.join     
        text.informationForm






