.main {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

/* Left menu containing the users */

.leftMenu {
  background-color: #252836;
  margin: 0;
  display: flex;
  height: 100%;
  width: 25%;
  padding: 1rem;
  overflow: hidden;
}
.listUser {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.users {
  display: grid;
  padding: 1rem;
  margin-bottom: 0.8rem;
  border-radius: 10px;
  grid-template-areas:
    'imageProfile userName  messageTime'
    'imageProfile userMessage userMessage'
    'imageProfile ... ...';

  background-color: #303346;
}

.users:hover {
  background-color: #434763;
}

.users.selected {
  background-color: #434763;

  outline: none;
}

.users > .user-img {
  grid-area: imageProfile;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.users > .userName {
  grid-area: userName;
  font-size: 1.6rem;
  font-weight: bold;
  color: #dfe7fd;
}

.users > .userMessage {
  grid-area: userMessage;
  font-size: 1.4rem;
  color: #d2d2d2;
}

.users > .messageTime {
  grid-area: messageTime;
  text-align: end;
  font-size: 1.4rem;
  color: #d2d2d2;
}

/* User Selected to chat */

.userSelectedChat {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #434763;
}

.userContainer {
  padding: 1rem;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userInfo > .userNameSelected {
  font-size: 1.6rem;
  font-weight: bold;
  color: #dfe7fd;
}

.userInfo > .user-img {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.buttonSearch {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.searchForm {
  display: flex;
  align-items: center;
}

.searchForm > .searchTextInChatBtn {
  background: transparent;
  background-image: url('../../images/search-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  margin-left: 2rem;
  border-radius: 10px;
  padding: 1.5rem 2rem;
  transition: background-color 0.3s;
}

.searchInput {
  background-color: #303346;
  padding: 1rem 1rem 1rem;
  height: 3rem;
  width: 82%;
  border-radius: 6px;
  border: white 1px;
  color: #fff;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.hidden {
  opacity: 0;
}

/* Message in the chat */

.messageFormContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 98%;
  height: 100%;
}

.messagesContainer {
  list-style-type: none;
  display: flex;
  overflow: hidden;
  margin: 0;
  height: 90%;
  width: 100%;
  padding: 1rem;
}

.messageList {
  list-style: none;
  display: flex;
  overflow: auto;
  width: 100%;
  flex-direction: column;
  scroll-behavior: smooth;
}
.messageList > .messageContainer {
  display: grid;

  grid-template-areas:
    'userMessage userMessage userMessage'
    'userMessage userMessage userMessage'
    '... ... createdAt';

  height: fit-content;
  text-align: justify;
  margin-left: auto;

  padding: 0.5rem 1rem;
  max-width: 44rem;
  color: white;
  font-size: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-right: 1rem;
  background: #6f83fb;
}

.spanMessage {
  font-size: 1.6rem;
  color: #dfe7fd;
  grid-area: userMessage;
}

.spanCreatedAt {
  font-size: 1.2rem;
  color: #d2d2d2;
  grid-area: createdAt;
  justify-self: right;
}

.messageContainer.owner-false {
  background: #7a84bd;
  margin-left: 1rem;
  margin-right: auto;
  max-width: 44rem;
}

@keyframes highlight {
  0% {
    background-color: yellow;
    border-radius: 5px;
    color: #333;
  }
  50% {
    background-color: transparent;
    border-radius: 5px;
    color: #333;
  }
  100% {
    background-color: yellow;
    border-radius: 5px;
    color: #333;
  }
}

.messageContainer.owner-false.highlight {
  border: 5px solid white;
}

.messageContainer.highlight {
  border: 5px solid white;
}

.messageContainer.owner-false.highlight .spanMessage {
  animation: highlight 2s 1;
}

.messageContainer.highlight .spanMessage {
  animation: highlight 2s 1;
}

/* Edit the context Menu */

@keyframes highlightContextMenu {
  0% {
    background: transparent;
    border-radius: 5px;
  }
  50% {
    background: rgba(67, 71, 99, 0.484);
  }
  100% {
    background: rgba(67, 71, 99, 0.77);
  }
}

.contextMenu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  padding: 1rem;
  min-width: 10rem;
  min-height: 15rem;
  background: rgba(67, 71, 99, 0.77);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(63, 61, 61, 0.603);
  backdrop-filter: blur(13.3px);
  border: 1px solid rgba(67, 71, 99, 0.56);
  transition: opacity 1s ease, transform 1s ease; /* Add transition properties */
}

.contextMenu.show {
  display: flex;
  opacity: 1;
  transform: translateY(0);
  animation: highlightContextMenu 1s 1;
}

.menuItemContextMenu {
  padding: 1rem;
  background-color: #2c2c2c;
  background: transparent;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #dfe7fd;
  color: #dfe7fd;
}

.menuItemContextMenu:hover {
  background-color: #383838; /* Change background color on hover */
}
/* Style the scrollbar */
.messageList::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

/* Style the scrollbar track */
.messageList::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Style the scrollbar handle */
.messageList::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* Style the scrollbar handle on hover */
.messageList::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Forms to handle and send the messages*/

.form {
  width: 98%;
}

.form-input {
  width: 100%;
}

.inputbox {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0.5rem;
}

.inputbox :where(.inputMessage) {
  background-color: #303346;
  padding: 1rem 1rem 1rem;
  height: 5rem;
  width: 95%;
  border-radius: 3px;
  border: white 1px;
  color: #fff;
}

.input:focus {
  outline: none;
}

button {
  background: transparent;
  background-color: #6587ff;
  background-image: url('../../images/icons8-acima-50.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 1.5rem 2rem;
  transition: background-color 0.3s;
}
