.main {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

/* Left menu containing the users */

.leftMenu {
  background: var(--chat-leftMenu-bgColor);
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 34%;
  max-width: 26%;
  padding: 1rem;
  overflow: hidden;
  transition: background-color 1s ease-in-out;
  background: var(--primary-color);
}
.listUser {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/* Edit users list */

.users {
  display: grid;
  padding: 1rem;
  margin-bottom: 0.8rem;
  border-radius: 10px;
  grid-template-areas:
    'imageProfile userName . messageTime'
    'imageProfile userMessage userMessage userMessage'
    'imageProfile . . ...';
}

.users:hover {
  background-color: var(--chat-selected-users-background-color-hover);
}

.users.selected {
  background-color: var(--chat-selected-users-background-color);
  transition: background-color 0.4s ease-in-out;

  outline: none;
}

.users > .user-img {
  grid-area: imageProfile;
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 50%;
}

.users > .userName {
  grid-area: userName;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-color-primary);
}

.users > .userMessage {
  grid-area: userMessage;
  font-size: 1.6rem;
  color: var(--text-color-secondary);
}

.users > .messageTime {
  grid-area: messageTime;
  text-align: end;
  font-size: 1.4rem;
  color: var(--text-color-secondary);
}

/* Message in the chat */

.messageFormContainer {
  display: none;
  flex-direction: column;
  width: 98%;
  height: 100%;
  background-color: var(--secondary-color);
  transition: background-color 1s ease-in-out;
}

.messageFormContainer.visible {
  display: flex;
}

.messagesContainer {
  list-style-type: none;
  display: flex;
  overflow: hidden;
  margin: 0;
  height: 90%;
  width: 100%;
  background-color: var(--chat-container-background-color);
  transition: background-color 1s ease-in-out;

  padding: 1rem;
}

.edit-messageForm {
  display: flex;
  flex-direction: row;
  border: none;
}

.edit-messageInput {
  background: none;
  font-size: 1.6rem;
  color: var(--text-color-primary);
  border: none;
  padding: 0.8rem 0.8rem;
  font-weight: 500;
}

.edit-messageInput:focus {
  outline: none;
  border-bottom: var(--text-color-primary) 2px solid;
}

.edit-messageBtn {
  background: var(--text-color-primary);
  border: none;
  border-radius: 50%;
  padding: 0.6rem 0.6rem;
  color: var(--primary-color);
}

.messageList {
  list-style: none;
  display: flex;
  overflow: auto;
  width: 100%;
  flex-direction: column;
  scroll-behavior: smooth;
  padding-left: 13rem;
  padding-right: 13rem;
}
.messageList > .messageContainer {
  display: grid;

  grid-template-areas:
    'userMessage userMessage createdAt'
    'userMessage userMessage createdAt'
    'userMessage userMessage createdAt';

  height: fit-content;
  text-align: justify;
  margin-left: auto;
  align-items: self-end;

  padding: 0.5rem 1rem;
  max-width: 44rem;
  font-size: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-right: 1rem;
  color: var(--text-color-primary);
  background: var(--message-background-color);
  transition: background-color 1s ease-in-out;
}

.spanMessage {
  font-size: 1.6rem;
  color: var(--text-color-primary);
  grid-area: userMessage;
}

.spanCreatedAt {
  font-size: 1.2rem;
  color: var(--text-color-secondary);
  grid-area: createdAt;
  justify-self: right;
  margin-left: 2rem;
}

.messageContainer.owner-false {
  background: var(--message-owner-false-background-color);
  margin-left: 1rem;
  margin-right: auto;
  max-width: 44rem;
  transition: background-color 1s ease-in-out;
}

@keyframes highlight {
  0% {
    background-color: yellow;
    border-radius: 5px;
    color: #333;
  }
  50% {
    background-color: transparent;
    border-radius: 5px;
    color: #333;
  }
  100% {
    background-color: yellow;
    border-radius: 5px;
    color: #333;
  }
}

.messageContainer.owner-false.highlight {
  border: 5px solid white;
}

.messageContainer.highlight {
  border: 5px solid white;
}

.messageContainer.owner-false.highlight .spanMessage {
  animation: highlight 2s 1;
}

.messageContainer.highlight .spanMessage {
  animation: highlight 2s 1;
}

/* Edit the context Menu */

@keyframes highlightContextMenu {
  0% {
    background: transparent;
    border-radius: 5px;
  }
  50% {
    background: rgba(28, 28, 32, 0.774);
  }
  100% {
    background: var(--chat-leftMenu-dropDownMenu-bgColor);
  }
}

.contextMenu {
  display: none;
}

.contextMenu.show {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  padding: 1rem;
  min-width: 10rem;
  min-height: 12rem;
  width: 12%;
  background: var(--context-menu-bg);
  backdrop-filter: blur(10px);
  animation: highlightContextMenu 1s 1;
  transition: transform 1s ease;
  border-radius: 0.75rem;
  z-index: 1;
}

.menuItemContextMenu {
  display: flex;
  font-size: 1.7rem;
  font-weight: 500;
  margin: 0.125rem 0.25rem;
  padding: 0.4rem;
  border: none;
  align-items: center;
}

.menuItemContextMenu:last-child {
  color: var(--red-text-color);
}

.menuItemContextMenu:hover {
  background-color: #383838; /* Change background color on hover */
}

/* Style the scrollbar */
.messageList::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

/* Style the scrollbar track */
.messageList::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Style the scrollbar handle */
.messageList::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* Style the scrollbar handle on hover */
.messageList::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Forms to handle and send the messages*/

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.form-input {
  width: 70%;
}

.notch {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 76%;
  height: 0.4rem;
  background-color: var(--primary-color);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border: 1px solid #000;
  z-index: 1;
}

.inputBox {
  display: flex;
  border-radius: 1.825rem;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  background-color: var(--primary-color);
  transition: background-color 1s ease-in-out;
}

.inputBox :where(.inputMessage) {
  background: transparent;
  padding: 1rem 1rem 1rem;
  height: 5rem;
  width: 95%;
  flex: 1;
  border-radius: 3px;
  border: none;
  color: var(--chat-container-messages-text-color);
}

.inputBox :where(.inputMessage) {
  outline: none;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 1.5rem 2rem;
  transition: background-color 0.3s;
}

input::placeholder {
  color: var(--color-placeholders);
}

.light-mode {
  background-color: var(--background-white-color);
  transition: background-color 1s ease-in-out;
}

.light-mode-leftMenu-users-hover-color:hover {
  background-color: var(--left-menu-users-hover-color);
}

.light-mode .users.selected {
  background-color: var(--left-menu-users-hover-color) !important;
}
.light-mode-leftMenu {
  background-color: var(--left-menu-white-bgColor);
  transition: background-color 1s ease-in-out;
}

.light-mode-dropDownMenuList {
  background-color: var(--left-menu-white-bgColor);
  transition: background-color 1s ease-in-out;
}

.light-mode-inputMessage {
  background-color: var(--chatInput-white-bgColor);
  color: var(--chat-input-placeholder-color);
  transition: background-color 1s ease-in-out;
}

.light-mode-inputMessage::placeholder {
  color: var(--chat-input-placeholder-color);
  transition: background-color 1s ease-in-out;
}

.light-mode-messageContainerFalse {
  background-color: var(--chatInput-white-bgColor);
  transition: background-color 1s ease-in-out;
}

.light-mode-userNameSelected {
  color: var(--chat-User-selected-textColor) !important;

  transition: background-color 1s ease-in-out;
}

.light-mode-userSearch {
  color: var(--chat-input-search-bgColor) !important;

  transition: background-color 1s ease-in-out;
}

.light-mode-icons-sendPlane {
  color: var(--chat-icon-send-plane-color) !important;
}

.light-mode-icons-searchIcon {
  color: var(--chat-icon-send-plane-color) !important;
}

.fa.icons {
  color: black !important;
  transition: background-color 1s ease-in-out;
}
