.main {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.leftMenu {
  background-color: #252837;
  margin: 0;
  display: flex;
  height: 100%;
  width: 25%;
  padding: 1rem;
  overflow: hidden;
}
.listUser {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.users {
  display: grid;
  padding: 1rem;
  margin-bottom: 0.8rem;
  border-radius: 10px;
  grid-template-areas:
    'imageProfile userName  messageTime'
    'imageProfile userMessage userMessage'
    'imageProfile ... ...';

  background-color: #303346;
}

.users:hover {
  background-color: #434763;
}

/* Hover  */
.users > .user-img {
  grid-area: imageProfile;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.users > .userName {
  grid-area: userName;
  font-size: 1.6rem;
  font-weight: bold;
  color: #dfe7fd;
}

.users > .userMessage {
  grid-area: userMessage;
  font-size: 1.4rem;
  color: #d2d2d2;
}

.users > .messageTime {
  grid-area: messageTime;
  text-align: end;
  font-size: 1.4rem;
  color: #d2d2d2;
}

.userSelectedChat {
  display: flex;
  border-radius: 10px;
  background-color: #434763;
}

.userContainer {
  padding: 1rem;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userInfo > .userName {
  font-size: 1.6rem;
  font-weight: bold;
  color: #dfe7fd;
}

.userInfo > .user-img {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.messageFormContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 98%;
  height: 100%;
}

.messagesContainer {
  list-style-type: none;
  display: flex;
  overflow: hidden;
  margin: 0;
  height: 90%;
  width: 100%;
  padding: 1rem;
}

.messageList {
  list-style: none;
  display: flex;
  overflow: auto;
  width: 100%;
  flex-direction: column;
  scroll-behavior: smooth;
}
.messageList > .messageContainer {
  height: fit-content;
  text-align: justify;
  padding: 0.5rem 1rem;
  max-width: 44rem;
  color: white;
  font-size: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: 1rem;
  background: #6f83fb;
}

.messageContainer.owner-false {
  background: #7a84bd;
  margin-left: 1rem;
  margin-right: auto;
  max-width: 44rem;
}

/* Style the scrollbar */
.messageList::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

/* Style the scrollbar track */
.messageList::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Style the scrollbar handle */
.messageList::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* Style the scrollbar handle on hover */
.messageList::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.form {
  width: 98%;
}

.form-input {
  width: 100%;
}

.inputbox {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0.5rem;
}

.inputbox :where(.inputMessage) {
  background-color: #303346;
  padding: 1rem 1rem 1rem;
  height: 5rem;
  width: 95%;
  border-radius: 3px;
  border: white 1px;
  color: #fff;
}

.input:focus {
  outline: none;
}

button {
  background: transparent;
  background-color: #6587ff;
  background-image: url('../../images/icons8-acima-50.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 1.5rem 2rem;
  transition: background-color 0.3s;
}
