/* Header */

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-black-color);
  width: 100vw;
  height: 5.8rem;
  transition: background-color 0.3s, color 0.3s;
}

.chatHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 6.2rem;
}

.leftHeader {
  height: 7rem;
  width: 31.9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-right: var(--border-header-color) 1px solid;
  padding: 0.6rem;
}

.rightHeader {
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

/* Edit of menu header and dropdown */

.dropDownMenuList {
  position: relative;
  display: flex;
  width: 9%;
  transition: background-color 1s ease-in-out;
}

.dropDownItems,
.configurationsMenu,
.updateUserContainer,
.updateUserContainer.chat,
.updateUserContainer.password,
.contactsContainer,
.updateUserContainer.contacts,
.createGroupContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 5rem;
  left: 1rem;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  width: 26rem;
  padding: 0.2rem;
  z-index: 1;
  background: var(--color-default-no-shadow);
  box-shadow: 0 0.25rem 0.5rem 0.125rem var(--color-default-shadow);
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  pointer-events: none;
}

.dropDownItems.show,
.configurationsMenu.show,
.updateUserContainer.show,
.updateUserContainer.chat.show,
.updateUserContainer.password.show,
.contactsContainer.show,
.updateUserContainer.contacts.show,
.createGroupContainer.show {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
  max-height: 90vh !important;
}
.updateUserContainer::-webkit-scrollbar {
  width: 8px;
}

.updateUserContainer::-webkit-scrollbar-thumb {
  background-color: var(--primary-purple-color);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.updateUserContainer::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-purple-color);
}

.updateUserContainer::-webkit-scrollbar-track {
  background: var(--primary-black-color);
  border-radius: 10px;
}

.updateUserContainer {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-purple-color) var(--primary-black-color);
}

.updateUserContainer {
  scrollbar-gutter: stable both-edges;
}
.menuItem {
  display: flex;
  align-items: center;
  margin: 0.125rem 0.25rem;
  border: none;
  padding: 1rem;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.menuItem:hover {
  background: var(--primary-gray-color);
}

.menuItemName {
  font-size: 2rem;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
  color: var(--text-color-primary);
}

.headerInfo-settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.settingsNameHeader {
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--text-color-primary);
}

.userInfo-settings {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  margin: 0.2rem;
}

.listUserItems {
  padding: 0.8rem;
  margin: 0.2rem;
}

.listUserItems:nth-child(6):hover,
.listUserItems:nth-child(7):hover {
  cursor: pointer;
  background: var(--primary-gray-color);
}

.user-img-settings {
  height: 20rem;
  width: 20rem;
  align-self: center;
  border-radius: 50%;
}

.userName-settings {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.5rem;
  color: var(--text-color-primary);
}

.notch-userConfig {
  width: 100%;
  height: 0.4rem;
  background: var(--primary-purple-color);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border: 1px solid #000;
  z-index: 1;
}

/* User update data form  */

.headerInfo {
  display: flex;
  align-items: center;
}

.settingsNameHeader,
.fa-solid.fa-arrow-left,
.fa-regular.fa-pen-to-square {
  font-size: 2.2rem !important;
}

.updateUserContainer.show {
  width: 30rem !important;
}

.form.form-user-data {
  display: flex;
  flex-direction: column;
}

.form__label {
  display: block;
  color: var(--text-color-primary);
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}
.form__label.password {
  text-align: left;
}

.form__photo-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.6rem;
}

.form__user-photo {
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
}

.form__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form__upload:focus + label {
  outline: 3px solid var(--primary-purple-color);
  outline-offset: 3px;
}

.form__upload + label {
  color: var(--text-color-primary);
  font-size: 1.6rem;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid var(--primary-purple-color);
  padding: 0.2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.form__upload + label:hover {
  background-color: var(--primary-purple-color);
  color: var(--text-color-primary);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.form__input#biography {
  resize: none;
  overflow: hidden;
  height: auto;
  min-height: 10rem;
}

.form__input {
  display: block;
  font-size: 1.4rem;
  color: var(--text-color-primary);
  padding: 1.25rem 2.5rem;
  border: none;
  background-color: var(--primary-black-color);
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  border-radius: 4px;
  box-sizing: border-box;
}

.form__group > .btn.save {
  border-radius: 48%;
  background-color: var(--primary-purple-color);
  padding: 1.6rem;
}

.form__group > .btn.save:hover {
  background-color: var(--secondary-purple-color);
}

.form__group > .btn.save > .fa-solid.fa-check {
  color: var(--text-color-primary);
}

.form__input:focus {
  outline: none;
  border-bottom: 3px solid var(--primary-purple-color);
}

textarea:focus {
  outline: none;
  border-bottom: 3px solid var(--primary-purple-color);
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__group:first-child {
  text-align: center;
}

.form__group:not(:last-child) {
  margin-bottom: 1.6rem;
}

.show {
  display: flex;
}

/* Contacts */

.contactsContainerInfo {
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
  margin: 0.6rem;
  align-items: center;
}

.createContactBtn {
  display: flex;
  border-radius: 50%;
  width: fit-content;
  background: var(--primary-purple-color);
  padding: 1.5rem;
  margin-left: auto;
  margin-right: 1rem;
}

/* Search for users */

.searchForUsers {
  width: 75%;
  background: var(--primary-gray-color);
  display: flex;
  align-items: center;
  height: 4.3rem;
  padding: 2rem;
  border-radius: 2.375rem;
  justify-content: space-between;
  margin-right: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchForUsers > .searchInputUsers {
  background: transparent;
  padding: 1rem 1rem 1rem;
  height: 3.3rem;
  width: 82%;
  border: none;
  font-size: 1.7rem;
  border-radius: 6px;
  color: var(--text-color-primary);
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.searchForUsers:focus-within {
  border: 2px solid var(--primary-purple-color);
}

.searchForUsers > .searchInputUsers::placeholder {
  color: var(--text-color-primary);
}

.searchForUsers > .searchInputUsers:focus {
  outline: none;
}

/* User Selected to chat */

.userSelectedChat {
  display: none;
  justify-content: space-between;
  width: 100%;
}

.userSelectedChat.visible {
  display: flex;
}

.userContainer {
  padding: 1rem;
  display: flex;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userInfo > .userNameSelected {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-color-primary);
}

.userInfo > .user-img {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.statusBall {
  border-radius: 50%;
  background-color: var(--gray-offline-color);
  height: 1rem;
  width: 1rem;
  margin-left: 0.6rem;
}

.statusBall.online {
  background-color: var(--green-online-color);
}

.statusBall.offline {
  background-color: var(--gray-offline-color);
}

.buttonSearch {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: end;
  width: 50%;
}

.searchForm {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.searchForm > .searchTextInChatBtn {
  background: transparent;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 1.5rem 2rem;
  transition: background-color 1s ease-in-out;
}

.searchInput {
  background-color: var(--primary-gray-color);
  padding: 1rem 2rem 1rem;
  height: 4rem;
  width: 50%;
  border-radius: 2.375rem;
  border: var(--border-chat-bgColor) 1px;
  color: var(--text-color-primary);
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.searchInput:focus {
  outline: var(--primary-purple-color) 2px solid;
}

.hidden {
  opacity: 0;
}
