/* Header */

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
  width: 100%;
  height: 5.6rem;
}

.chatHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 6.2rem;
}

.leftHeader {
  height: 7rem;
  width: 33.7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-right: var(--chat-border-header) 1px solid;
  padding: 1rem;
}

.rightHeader {
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

/* Edit of menu header and dropdown */

.dropDownMenuList {
  position: relative;
  display: flex;
  width: 9%;
  transition: background-color 1s ease-in-out;
}

.dropDownItems {
  display: none;
}

.dropDownItems.show {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 16rem;
  position: absolute;
  top: 4.7rem !important;
  left: 1rem !important;
  background: var(--chat-leftMenu-dropDownMenu-bgColor);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  transform-origin: left top;
  padding: 0.2rem;
  z-index: 1;
  box-shadow: 0 0.25rem 0.5rem 0.125rem var(--color-default-shadow);
}

.menuItem {
  display: flex;
  align-items: center;
  height: fit-content;
  margin: 0.125rem 0.25rem;
  border: none;
  border-radius: 10px;
  padding: 0.7rem;
  transition: background-color 0.3s;
}

.menuItemName {
  font-size: 1.475rem;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
  color: var(--text-color-primary);
}

.menuItem:hover {
  background: var(--chat-container-background-color);
}

.configurationsMenu {
  display: none;
}

.configurationsMenu.show {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 16rem;
  position: absolute;
  top: 4.7rem !important;
  left: 1rem !important;
  background: var(--color-default-no-shadow);
  border-radius: 16px;
  padding: 0.2rem;
  z-index: 1;
  box-shadow: 0 0.25rem 0.5rem 0.125rem var(--color-default-shadow);
}

.headerInfo-settings {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.settingsNameHeader {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--chat-text-Message-color);
}

.userInfo-settings {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
}

.listUserItems {
  padding: 0.8rem;
}

.user-img-settings {
  height: 20rem;
  width: 20rem;
}

.userName-settings {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--chat-text-Message-color);
}

/* User update data form  */

.updateUserContainer {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  min-height: 16rem;
  position: absolute;
  top: 4.7rem !important;
  left: 1rem !important;
  background: var(--color-default-no-shadow);
  border-radius: 16px;
  padding: 0.2rem;
  z-index: 1;
  box-shadow: 0 0.25rem 0.5rem 0.125rem var(--color-default-shadow);
  font-size: 1.5rem;
  padding: 1.25rem 1.75rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.headerInfo {
  display: flex;
  align-items: center;
}

.headerInfo > .settingsNameHeader,
.fa-solid.fa-arrow-left {
  font-size: 2.2rem !important;
}

.form.form-user-data {
  display: flex;
  flex-direction: column;
}

.form__label {
  display: block;
  color: var(--text-color-primary);
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.form__photo-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.6rem;
}

.form__user-photo {
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.form__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form__upload:focus + label {
  outline: 3px solid var(--chat-input-border-color);
  outline-offset: 3px;
}

.form__upload + label {
  color: var(--chat-text-Message-color);
  font-size: 1.6rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid var(--chat-input-border-color);
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.form__upload + label:hover {
  background-color: var(--chat-input-border-color);
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.form__input#biography {
  resize: none;
  overflow: hidden;
  height: auto;
  min-height: 10rem;
}

.form__input {
  display: block;
  font-size: 1.6rem;
  color: var(--chat-text-Message-color);
  padding: 1.25rem 1.75rem;
  border: none;
  background-color: var(--primary-color);
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form__group > .btn.save {
  border-radius: 48%;
  background-color: var(--chat-input-border-color);
}

.form__group > .btn.save:hover {
  background-color: var(--chat-input-border-color-hover);
}

.form__group > .btn.save > .fa-solid.fa-check {
  color: var(--text-color-primary);
}

.form__input:focus {
  outline: none;
  border-bottom: 3px solid var(--chat-input-border-color);
}

textarea:focus {
  outline: none;
  border-bottom: 3px solid var(--chat-input-border-color);
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__group:first-child {
  text-align: center;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.show {
  display: flex;
}

/* Search for users */

.searchForUsers {
  width: 75%;
  background: var(--input-placeholder-background-color);
  display: flex;
  align-items: center;
  height: 4.3rem;
  padding: 2rem;
  border-radius: 2.375rem;
  justify-content: space-between;
  margin-right: 2rem;
}

.searchForUsers > .searchInputUsers {
  background: transparent;
  padding: 1rem 1rem 1rem;
  height: 3.3rem;
  width: 82%;
  border: none;
  font-size: 1.7rem;
  border-radius: 6px;
  color: var(--chat-text-Message-color);
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.searchForUsers > .searchInputUsers:focus {
  outline: none;
  background: transparent;
}
.searchForUsers > .searchInputUsers::placeholder {
  color: var(--color-placeholders);
}

.has-focus {
  outline: var(--chat-input-border-color) 2px solid;
}

/* User Selected to chat */

.userSelectedChat {
  display: none;
  justify-content: space-between;
  transition: background-color 1s ease-in-out;
  background: var(--chat-leftMenu-bgColor);
  width: 100%;
}

.userSelectedChat.visible {
  display: flex;
}

.userContainer {
  padding: 1rem;
  display: flex;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userInfo > .userNameSelected {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--chat-text-Message-color);
}

.userInfo > .user-img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.buttonSearch {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.searchForm {
  display: flex;
  align-items: center;
}

.searchForm > .searchTextInChatBtn {
  background: transparent;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 1.5rem 2rem;
  transition: background-color 1s ease-in-out;
}

.searchInput {
  background-color: var(--input-placeholder-background-color);
  padding: 1rem 1rem 1rem;
  height: 3rem;
  width: 82%;
  border-radius: 6px;
  border: var(--border-chat-bgColor) 1px;
  color: var(--chat-text-Message-color);
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.searchInput:focus {
  outline: var(--chat-input-border-color) 2px solid;
}

.hidden {
  opacity: 0;
}

/* Icons */
.fa-solid.fa-magnifying-glass {
  color: var(--icon-colors);
  font-size: 2rem;
}

.fa-regular.fa-sun {
  color: var(--icon-sun);
  font-size: 1.7rem;
  padding: 0.5rem;
}

.fa-solid.fa-moon {
  display: none;
  font-size: 1.7rem;
  padding: 0.5rem;
}

.fa-solid.fa-bars {
  color: var(--icon-colors);
  font-size: 1.7rem;
}

.fa-solid.fa-arrow-right-from-bracket {
  color: var(--icon-colors);
  font-size: 1.7rem;
  padding: 0.5rem;
  margin-left: auto;
}

.fa-solid.fa-gear {
  color: var(--icon-colors);
  font-size: 1.7rem;
  padding: 0.5rem;
  margin-left: auto;
}

.fa-solid.fa-arrow-left {
  color: var(--icon-colors);
  font-size: 1.7rem;
  padding: 0.5rem;
  margin-left: auto;
}

.fa-regular.fa-pen-to-square {
  color: var(--icon-colors);
  font-size: 1.7rem;
  padding: 0.5rem;
  margin-left: auto;
}

.fa-solid.fa-phone {
  color: var(--icon-colors);
  font-size: 1.7rem;
  padding: 0.5rem;
}

.fa-solid.fa-message {
  color: var(--icon-colors);
  font-size: 1.7rem;
  padding: 0.5rem;
}

.fa-solid.fa-check {
  color: var(--icon-colors);
  font-size: 1.7rem;
  padding: 0.5rem;
}
