/* Root styles */

:root {
  --background-white-color: #f8f8ff;
  --left-menu-white-bgColor: #007aff;
  --chat-User-selected-textColor: #111b21;
  --chatInput-white-bgColor: #f0f2f5;
  --left-menu-users-hover-color: #ebebebb1;
  --chat-input-placeholder-color: #667781;
  --chat-text-Message-color: #fbfbfb;
  --chat-text-createdAt-color: #d2d2d2;
  --chat-border-header: #303030;
  --chat-icon-send-plane-color: #667781;
  --chat-input-search-bgColor: #f0f2f5;
  --chat-input-border-color: #8774e1;
  --chat-input-border-color-hover: #5b4ca4;

  /* Black background */
  --main-color: #171617;
  --section-rotate: 9vw;
  --icon-sun: #ffd700;
  --primary-color: #212121;
  --secondary-color: #0f0f0f;
  --color-placeholders: #a2acb4;
  --icon-colors: #aaaaaa;
  --message-background-color: #766ac8;
  --message-owner-false-background-color: #212121;
  --text-color-primary: #ffffff;
  --text-color-secondary: rgb(255, 255, 255, 0.533);
  --input-placeholder-background-color: rgb(44, 44, 44);
  --color-default-shadow: rgb(16, 16, 16, 0.612);
  --color-default-no-shadow: rgb(16, 16, 16);
  --color-gray-hover: rgb(44, 44, 44);
  --context-menu-bg: rgb(33, 33, 33, 0.867);

  /* Left menu */
  --chat-leftMenu-bgColor: #595959.;
  --chat-leftMenu-dropDownMenu-bgColor: #212121dd;
  --chat-leftMenu-users-hover-color: #515151;
  --chat-leftMenu-users-name-color: #dfe7fd;
  --chat-leftMenu-users-message-color: #d2d2d2;
  --border-chat-bgColor: #e9e3d5;

  /* Selected user */
  --chat-selected-users-background-color: #766ac8;
  --chat-selected-users-background-color-hover: rgb(44, 44, 44);

  /* Chat colors */
  --chat-input-send-messages-background-color: #212121;
  --chat-container-messages-background-color: #262626;
  --chat-container-messages-ownerFalse-background-color: #595959;
  --chat-container-messages-text-color: #fbfbfb;
  --chat-container-messages-createdAt-color: #d2d2d2;
  --chat-container-background-color: #0f0f10;
  --chatInput-textColor-white-bgColor: #111b21;
  --chat-message-ownerFalse-white-bgColor: #ebebeb;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  background-color: var(--main-color);
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #777;
  height: 100vh;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

/* Alert */

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}

/* Footer */

.footer {
  font-size: 1.4rem;
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 0.75rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Icons */
.fa-solid.fa-magnifying-glass {
  color: var(--icon-colors);
  font-size: 2rem;
}

/* Icons */

.fa-regular.fa-sun,
.fa-solid.fa-moon,
.fa-solid.fa-bars,
.fa-solid.fa-arrow-right-from-bracket,
.fa-solid.fa-gear,
.fa-solid.fa-arrow-left,
.fa-regular.fa-pen-to-square,
.fa-solid.fa-phone,
.fa-solid.fa-message,
.fa-regular.fa-paper-plane,
.fa-solid.fa-pencil,
.fa-solid.fa-copy,
.fa-solid.fa-trash-can,
.fa-solid.fa-check {
  color: var(--icon-colors);
  font-size: 1.7rem;
  padding: 0.5rem;
}

.fa-regular.fa-sun {
  color: var(--icon-sun);
}

.fa-solid.fa-moon {
  display: none;
  color: var(--icon-sun);
}

.fa-solid.fa-arrow-right-from-bracket,
.fa-regular.fa-sun,
.fa-solid.fa-gear,
.fa-solid.fa-arrow-left,
.fa-regular.fa-pen-to-square {
  margin-left: auto;
}

.fa-solid.fa-pencil,
.fa-solid.fa-trash-can,
.fa-solid.fa-copy {
  margin-right: 1.2rem;
}
