*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

:root {
  /* Root */
  --main-color: #171617;
  --section-rotate: 9vw;
  --color-soft-green-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  --color-soft-gray-shadow: 0 0 10px rgba(128, 128, 128, 0.5);

  /* White background */
  --primary-white-color: #ffffff;
  --secondary-white-color: #f8f9fb;
  --tertiary-white-color: #f7f7f7;
  --primary-gray-color: #f4f4f5;
  --secondary-gray-color: rgb(244, 244, 245);
  --tertiary-gray-color: #707579;
  --blue-secondary-color: #3596ff;
  --primary-text-whiteBg-Color: #000000;
  --secondary-text-whiteBg-Color: #707579;

  /* Black background */
  --primary-black-color: #212121;
  --primary-gray-color: rgb(44, 44, 44);
  --border-header-color: #303030;
  --text-color-primary: #ffffff;
  --text-color-secondary: rgb(255, 255, 255, 0.533);
  --color-default-no-shadow: rgb(16, 16, 16);
  --color-soft-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  --color-default-shadow: rgb(16, 16, 16, 0.612);
  --color-default-no-shadow: rgb(16, 16, 16);
  --primary-purple-color: #766ac8;
  --secondary-purple-color: #5b4ca4;
  --primary-red-color: #e53935;

  /* Icon Colors */
  --icon-sun: #ffd700;
  --icon-colors: #ffff;
  --green-online-color: #20bf6b;
  --gray-offline-color: #aaaaaa;
}

html {
  background-color: var(--main-color);
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #777;
  height: 100vh;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

/* Alert */

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}

.error {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 80rem;
  text-align: center;
}
.error__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.error__emoji {
  font-size: 3.75rem;
  margin-left: 1rem;
}
.error__msg {
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 50rem;
  margin: 0 auto;
}

/* Footer */

.footer {
  font-size: 1.4rem;
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 0.75rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Icons */
.fa-solid.fa-magnifying-glass {
  color: var(--icon-colors);
  font-size: 2rem;
}

/* Icons */

.fa-regular.fa-sun,
.fa-solid.fa-moon,
.fa-solid.fa-bars,
.fa-solid.fa-arrow-right-from-bracket,
.fa-solid.fa-gear,
.fa-solid.fa-arrow-left,
.fa-regular.fa-pen-to-square,
.fa-solid.fa-phone,
.fa-solid.fa-message,
.fa-regular.fa-paper-plane,
.fa-solid.fa-pencil,
.fa-solid.fa-copy,
.fa-solid.fa-trash-can,
.fa-solid.fa-phone,
.fa-solid.fa-check,
.fa-solid.fa-image,
.fa-solid.fa-user,
.fa-solid.fa-key,
.fa-solid.fa-user-plus {
  color: var(--icon-colors);
  font-size: 1.7rem;
  padding: 0.5rem;
}

/* Menu icons */
.fa-solid.fa-arrow-right-from-bracket,
.fa-regular.fa-sun,
.fa-solid.fa-gear,
.fa-solid.fa-moon,
.fa-solid.fa-user,
.fa-solid.fa-arrow-left,
.fa-regular.fa-pen-to-square {
  margin-left: auto;
}

.fa-regular.fa-sun {
  color: var(--icon-sun);
}

.fa-solid.fa-moon {
  display: none;
  color: var(--icon-sun);
}

/* ContextMenu icons */

.fa-solid.fa-pencil,
.fa-solid.fa-trash-can,
.fa-solid.fa-copy {
  margin-right: 1.2rem;
}

.fa-solid.fa-trash-can {
  color: var(--red-text-color);
}
