/* Root styles */

:root {
  --section-rotate: 9vw;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  background-color: #1a202f;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  color: #777;
  height: 100vh;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

/* Header */

.header {
  background-color: #000;
  padding: 0 5rem;
  height: 8rem;
  position: relative;
  z-index: 100;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;

  align-items: center;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.header__logo img {
  height: 4rem;
  width: 4rem;
}

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.messages {
  list-style-type: none;
  margin: 0;
  display: flex;
  height: 90%;
  padding: 2rem;
  overflow: hidden;
}

.messageList {
  list-style: none;
  display: flex;
  overflow: auto;
  width: 100%;
  flex-direction: column;
}
.messageList > li {
  background: linear-gradient(
    90deg,
    rgba(116, 190, 219, 1) 1%,
    rgba(0, 93, 130, 1) 100%
  );

  min-width: fit-content;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 2rem;
  height: 6rem;
  border-radius: 10px;
  margin-right: auto;
  margin-left: 0;
}
.messageList > li:nth-child(odd) {
  background: linear-gradient(
    90deg,
    rgba(0, 93, 130, 1) 1%,
    rgba(116, 190, 219, 1) 100%
  );
  border-radius: 10px;
  height: 6rem;
  margin-left: auto;
  margin-right: 0;
}

/* Style the scrollbar */
.messageList::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

/* Style the scrollbar track */
.messageList::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Style the scrollbar handle */
.messageList::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* Style the scrollbar handle on hover */
.messageList::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.form {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  box-sizing: border-box;
}

.inputbox {
  display: flex;
  align-content: space-around;
  justify-content: center;
  padding: 0.5rem;
}

.inputbox :where(.inputMessage, .inputRoom) {
  background: #131d36;
  padding: 1rem 1rem 1rem;
  height: 3rem;
  width: 90%;
  border-radius: 3px;
  border: white 1px;
  color: #fff;
}

.input:focus {
  outline: none;
}

button {
  background: transparent;

  background-image: url("../images/paper-plane-white-icon.png");

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  transition: background-color 0.3s;
}

/* Footer */

.footer {
  padding: 1rem;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 0.75rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
